{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load persian_translation_tags %}

{% block page_title %}{% translate 'Blog' %}{% endblock page_title %}

{% block content %}

    <!-- Page Title -->
    <section class="page-title page-title--tall blog-featured-img bg-dark-overlay text-center"
             style="background-image: url({{ blog.image.url }}); text-align: center; direction: rtl">
        <div class="container">
            <div class="page-title__holder">
                <h1 class="page-title__title">{{ blog.title }}</h1>
                <ul class="entry__meta">
                    <li class="entry__meta-date">
                        <span>{% trans 'Date of Release' %} : {{ blog.datetime_created|to_jalali:'%Y/%m/%d'|translate_number }}</span>
                    </li>
                    <br>
                    <li class="entry__meta-author">
                        <span>{% trans 'From' %} : {{ blog.author }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- end page title -->

    <!-- Single Post -->
    <section class="section-wrap pt-40 pb-48" style="direction: rtl; text-align: right">

        <div class="box-offset-container">
            <div class="blog__content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10">

                            <!-- Article -->
                            <article class="entry mb-0">
                                <div class="entry__article-wrap">
                                    <div class="entry__article">
                                        <p>{{ blog.text|safe  }}</p>
                                    </div>
                                    <!-- end entry article -->
                                </div>
                                <!-- end entry article wrap -->
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end single post -->

{% endblock content %}
