{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}{% translate 'Project' %} : {{ project.title }}{% endblock page_title %}

{% block content %}

    <!-- Portfolio -->
    <section class="section-wrap">
        <div class="container">
            <div class="projects">
                <div class="project-1">
                    <div class="project-1__container">
                        <div class="project__img-holder hover-scale">
                            <a href="#">
                                <img src="{{ project.image_cover.url }}" alt="" class="project__img">
                            </a>
                        </div>
                    </div>

                    <div class="project-1__description-holder">
                        <div class="project-1__description" style="text-align: right; direction: rtl">
                            <h3 class="project-1__title">{{ project.title }}</h3>
                            <p class="project-1__text">{{ project.address }}</p>
                            <a href="#description" class="read-more" style="float: left">
                                <span class="read-more__text">{% trans 'More' %}</span>
                                <i class="ui-arrow-left read-more__icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end project -->

            </div>

        </div>
    </section>
    <!-- end portfolio -->


    <!-- start portfolio single -->
    <section id="description" class="section-wrap pt-72 pb-32" style="text-align: right;">
        <div class="container">
            <div class="row">

                <!-- start project -->
                <div class="col-lg-8 project__info mb-md-40" style="float: right; direction: rtl;">
                    <h4 class="pb-32">{% trans 'Project' %} : {{ project.title }}</h4>
                    <p>{{ project.description }}
                    </p>
                    <br>
                    <h4>{% trans "Project Goals" %}</h4>
                    <p>{% trans "Creating a safe, comfortable and modern environment for individuals and families, we strive to meet the diverse needs of our customers by focusing on the quality of construction, the use of high-quality materials and modern technologies." %}
                    </p>
                    <br>
                    <div class="gallery gallery-size-large">
                        {% for item in project %}
                            <figure class="gallery-item">
                                <div class="gallery-icon landscape">
                                    <img src="{{ item.image_gallery.url }}" class="attachment-large size-large"
                                         alt="">
                                </div>
                            </figure>
                        {% endfor %}
                    </div>
                    <br>
                    <h4>{% trans "Our Approach" %}</h4>
                    <p>{% trans "Using expert and experienced teams, we carry out the construction processes with precision and detailed planning to get the best results. Applying environmentally friendly methods and smart technologies is part of our commitment to sustainability and foresight. Also, we believe in the importance of continuous and transparent communication with customers and partners and we try to gain their trust and satisfaction by creating positive and constructive interactions. This comprehensive approach helps us to provide projects with superior quality and in accordance with the current needs of the society." %}
                    </p>
                </div>
                <!-- end project -->

                <!-- start project info -->
                <div class="col-lg-4 project__details" style="float: left; direction: rtl">
                    <ul class="project__meta">
                        <li class="project__meta-item">
                            <span class="project__meta-label">{% trans "Building's info" %}:</span>
                            <span class="project__meta-value">{% trans 'ground meterage' %} : {{ project.ground_meterage }}</span><br>
                            <span class="project__meta-value">{% trans 'floors' %} : {{ project.plus_floor }}</span><br>
                            <span class="project__meta-value">{% trans 'floors underground' %} : {{ project.minus_floor }}</span><br>
                            <span class="project__meta-value">{% trans 'units' %} : {{ project.units }}</span><br>
                            <span class="project__meta-value">{% trans 'units in each floor' %} : {{ project.units_in_floor }}</span><br>
                            <span class="project__meta-value">{% trans 'Rooms' %} : {{ project.room }}</span><br>
                        </li>
                        <li class="project__meta-item">
                            <span class="project__meta-label">{% trans 'Date' %}:</span>
                            <span class="project__meta-value">{{ project.date_construction }}</span>
                        </li>
                        <li class="project__meta-item">
                            <span class="project__meta-label">{% trans 'Location' %}:</span>
                            <span class="project__meta-value">{{ project.address }}</span>
                        </li>
                    </ul>
                </div>
                <!-- end project info -->

            </div>
        </div>
    </section>
    <!-- end portfolio single -->

    <!-- Start Portfolio Single -->
    <div style="width: 60%; margin: 0 auto;">
        <h4 style="text-align: right" class="pb-32">{% trans 'Photos gallery' %}</h4>
        <div class="slick-single-image">
            {% for item in project %}
                <img style="height: 550px;" src="{{ item.image_gallery.url }}" class="project__featured-img"
                     alt="{{ item.title }}">
            {% endfor %}
        </div>
    </div>
    <!-- End Portfolio Single -->

{% endblock content %}
