{% extends '_base.html' %}
{% load blog_tags %}
{% get_blog_detail_context blog_id %}
{% load static %}
{% load i18n %}
{% load persian_translation_tags %}


{% block page_title %}{% translate 'Home' %}{% endblock page_title %}

{% block content %}

    <div class="rev-offset"></div>

    <!-- Revolution Slider -->
    <div class="rev_slider_wrapper">
        <div class="rev_slider" id="slider-1" data-version="5.0">
            <ul>
                <!-- SLIDE 1 -->
                <li data-fstransition="fade"
                    data-transition="fade"
                    data-easein="default"
                    data-easeout="default"
                    data-slotamount="1"
                    data-masterspeed="1200"
                    data-delay="8000"
                    data-title="Modern Living Room"
                >
                    <!-- MAIN IMAGE -->
                    <div style="position: relative; width: 100%; height: 100vh; overflow: hidden; filter: brightness(50%);">
                        <img src="{% static 'img/home/home-intro(1).jpg' %}" alt=""
                             style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
                    </div>

                    <!-- HERO TITLE -->
                    <div class="tp-caption hero-text" style="text-align: right !important;
                         width: 100%;
                         direction: rtl;
                         float: right;"
                         data-x="400"
                         data-y="center"
                         data-voffset="[-140,-120,-100,-180]"
                         data-fontsize="[72,62,52,46]"
                         data-lineheight="[72,62,52,46]"
                         data-width="[none, none, none, 300]"
                         data-whitespace="[nowrap, nowrap, nowrap, normal]"
                         data-frames='[{
                               "delay":1000,
                               "speed":900,
                               "frame":"0",
                               "from":"y:150px;opacity:0;",
                               "ease":"Power3.easeOut",
                               "to":"o:1;"
                             },{
                               "delay":"wait",
                               "speed":1000,
                               "frame":"999",
                               "to":"opacity:0;","ease":"Power3.easeOut"
                             }]'
                         data-splitout="none">{% trans 'Impressive view' %}<span class="hero-dot"></span>
                    </div>

                    <!-- HERO SUBTITLE -->
                    <div class="tp-caption small-text"
                         style="text-align: justify; width: 100%; direction: rtl; float: right;"
                         data-x="150"
                         data-y="center"
                         data-voffset="[-40,-30,-20,0]"
                         data-fontsize="[21,21,21,21]"
                         data-lineheight="34"
                         data-width="[none, none, none, 300]"
                         data-whitespace="[nowrap, nowrap, nowrap, normal]"
                         data-frames='[{
									"delay":1100,
									"speed":900,
									"frame":"0",
									"from":"y:150px;opacity:0;",
									"ease":"Power3.easeOut",
									"to":"o:1;"
									},{
									"delay":"wait",
									"speed":1000,
									"frame":"999",
									"to":"opacity:0;","ease":"Power3.easeOut"
								}]'
                    >{% trans 'The combination of art and modern architecture, a face that simultaneously provides the beauty of design and the value of performance.' %}
                    </div>
                </li>
                <!-- end slide 1 -->

                <!-- SLIDE 2 -->
                <li data-fstransition="fade"
                    data-transition="fade"
                    data-easein="default"
                    data-easeout="default"
                    data-slotamount="1"
                    data-masterspeed="1200"
                    data-delay="8000"
                    data-title="Astralian Museum"
                >
                    <!-- MAIN IMAGE -->
                    <div style="position: relative; width: 100%; height: 100vh; overflow: hidden; filter: brightness(50%);">
                        <img src="{% static 'img/home/home-intro(2).jpg' %}" alt=""
                             style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
                    </div>

                    <!-- HERO TITLE -->
                    <div class="tp-caption hero-text"
                         data-x="400"
                         data-y="center"
                         data-voffset="[-140,-120,-100,-180]"
                         data-fontsize="[72,62,52,46]"
                         data-lineheight="[72,62,52,46]"
                         data-width="[none, none, none, 300]"
                         data-whitespace="[nowrap, nowrap, nowrap, normal]"
                         data-frames='[{
									"delay":1000,
									"speed":900,
									"frame":"0",
									"from":"y:150px;opacity:0;",
									"ease":"Power3.easeOut",
									"to":"o:1;"
									},{
									"delay":"wait",
									"speed":1000,
									"frame":"999",
									"to":"opacity:0;","ease":"Power3.easeOut"
								}]'
                         data-splitout="none">{% trans 'New structures' %}<span class="hero-dot"></span>
                    </div>

                    <!-- HERO SUBTITLE -->
                    <div class="tp-caption small-text"
                         style="text-align: justify; width: 70%; direction: rtl; float: right"
                         data-x="300"
                         data-y="center"
                         data-voffset="[-40,-30,-20,0]"
                         data-fontsize="[21,21,21,21]"
                         data-lineheight="34"
                         data-width="[none, none, none, 300]"
                         data-whitespace="[nowrap, nowrap, nowrap, normal]"
                         data-frames='[{
									"delay":1100,
									"speed":900,
									"frame":"0",
									"from":"y:150px;opacity:0;",
									"ease":"Power3.easeOut",
									"to":"o:1;"
									},{
									"delay":"wait",
									"speed":1000,
									"frame":"999",
									"to":"opacity:0;","ease":"Power3.easeOut"
								}]'
                    >{% trans 'Creating beautiful and impressive buildings as well as influencing the urban living environment' %}
                    </div>
                </li>
                <!-- end slide 2 -->

                <!-- SLIDE 3 -->
                <li data-fstransition="fade"
                    data-transition="fade"
                    data-easein="default"
                    data-easeout="default"
                    data-slotamount="1"
                    data-masterspeed="1200"
                    data-delay="8000"
                    data-title="Horizon Urban"
                >
                    <!-- MAIN IMAGE -->
                    <div style="position: relative; width: 100%; height: 100vh; overflow: hidden; filter: brightness(50%);">
                        <img src="{% static 'img/home/home-intro(3).jpg' %}" alt=""
                             style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
                    </div>

                    <!-- HERO TITLE -->
                    <div class="tp-caption hero-text"
                         data-x="400"
                         data-y="center"
                         data-voffset="[-140,-120,-100,-180]"
                         data-fontsize="[72,62,52,46]"
                         data-lineheight="[72,62,52,46]"
                         data-width="[none, none, none, 300]"
                         data-whitespace="[nowrap, nowrap, nowrap, normal]"
                         data-frames='[{
									"delay":1000,
									"speed":900,
									"frame":"0",
									"from":"y:150px;opacity:0;",
									"ease":"Power3.easeOut",
									"to":"o:1;"
									},{
									"delay":"wait",
									"speed":1000,
									"frame":"999",
									"to":"opacity:0;","ease":"Power3.easeOut"
								}]'
                         data-splitout="none">{% trans 'High quality materials' %}<span class="hero-dot"></span>
                    </div>

                    <!-- HERO SUBTITLE -->
                    <div class="tp-caption small-text"
                         style="text-align: right; direction: rtl;"
                         data-x="150"
                         data-y="center"
                         data-voffset="[-40,-30,-20,0]"
                         data-fontsize="[21,21,21,21]"
                         data-lineheight="34"
                         data-width="[none, none, none, 300]"
                         data-whitespace="[nowrap, nowrap, nowrap, normal]"
                         data-frames='[{
									"delay":1100,
									"speed":900,
									"frame":"0",
									"from":"y:150px;opacity:0;",
									"ease":"Power3.easeOut",
									"to":"o:1;"
									},{
									"delay":"wait",
									"speed":1000,
									"frame":"999",
									"to":"opacity:0;","ease":"Power3.easeOut"
								}]'
                    ><p style="text-align: center !important; margin-top: 2%">
                        {% trans 'Using high-quality materials and experienced and efficient forces,we offer high quality and trust to our customers,' %}
                    </p>
                        <p style="text-align: center !important">{% trans 'in order to build buildings with unparalleled strength and beauty.' %}</p>
                    </div>
                </li>
                <!-- end slide 3 -->

                <!-- SLIDE 4 -->
                <li data-fstransition="fade"
                    data-transition="fade"
                    data-easein="default"
                    data-easeout="default"
                    data-slotamount="1"
                    data-masterspeed="1200"
                    data-delay="8000"
                    data-title="Horizon Urban"
                >
                    <!-- MAIN IMAGE -->
                    <div style="position: relative; width: 100%; height: 100vh; overflow: hidden; filter: brightness(50%);">
                        <img src="{% static 'img/home/home-intro(4).jpg' %}" alt=""
                             style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
                    </div>

                    <!-- HERO TITLE -->
                    <div class="tp-caption hero-text"
                         data-x="400"
                         data-y="center"
                         data-voffset="[-140,-120,-100,-180]"
                         data-fontsize="[72,62,52,46]"
                         data-lineheight="[72,62,52,46]"
                         data-width="[none, none, none, 300]"
                         data-whitespace="[nowrap, nowrap, nowrap, normal]"
                         data-frames='[{
									"delay":1000,
									"speed":900,
									"frame":"0",
									"from":"y:150px;opacity:0;",
									"ease":"Power3.easeOut",
									"to":"o:1;"
									},{
									"delay":"wait",
									"speed":1000,
									"frame":"999",
									"to":"opacity:0;","ease":"Power3.easeOut"
								}]'
                         data-splitout="none">{% trans 'Modern design' %}
                        <span class="hero-dot"></span>
                    </div>

                    <!-- HERO SUBTITLE -->
                    <div class="tp-caption small-text"
                         data-x="100"
                         data-y="center"
                         data-voffset="[-40,-30,-20,0]"
                         data-fontsize="[21,21,21,21]"
                         data-lineheight="34"
                         data-width="[none, none, none, 300]"
                         data-whitespace="[nowrap, nowrap, nowrap, normal]"
                         data-frames='[{
									"delay":1100,
									"speed":900,
									"frame":"0",
									"from":"y:150px;opacity:0;",
									"ease":"Power3.easeOut",
									"to":"o:1;"
									},{
									"delay":"wait",
									"speed":1000,
									"frame":"999",
									"to":"opacity:0;","ease":"Power3.easeOut"
								}]'
                    >
                        <p style="text-align: justify; direction: rtl; margin-top: 2%">
                            {% trans 'With modern design and use of open spaces and natural light, we create a beautiful, efficient and peaceful environment for residents.' %}
                        </p>
                        <p style="text-align: center; direction: rtl">
                            {% trans 'The use of new ideas and quality materials brings a unique balance between beauty and performance.' %}
                        </p>
                    </div>
                </li>
                <!-- end slide 4 -->

            </ul>
        </div>
    </div>

    <!-- Intro -->
    <section class="section-wrap intro pb-40" style="text-align: justify; direction: rtl">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h2 class="mb-32">{% trans "Wellcome" %}</h2>
                    <p class="lead">{% trans "Ali Arab Construction Group has been operating since 1373 with the aim of building safe buildings, putting quality at the forefront, and using expert and experienced engineers and efficient workers, using quality materials and facilities, along with management. The experience and knowledge of engineering has succeeded in building numerous and significant construction projects in Tehran and has been placed in the category of successful and reliable builders in Tehran and has also been selected as the top builder in Tehran's 3rd district." %}</p>

                    <div dir="ltr">
                        <a href="{% url 'about_us' %}" class="btn btn--md btn--color">
                            <span>{% trans 'About us' %}</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <video style="width: 500px; height: 400px; margin-right: 5%"
                           autoplay loop muted playsinline
                           data-bgrepeat="no-repeat"
                           data-bgfit="cover"
                           data-bgparallax="7"
                           class="rev-slidebg"
                           data-playbackrate="0.5">
                        <source src="{% static 'videos/logomotion.mp4' %}" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </section>
    <!-- end intro -->

    <!-- Services -->
    <section class="section-wrap pt-0 pb-0 mt-64">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6">
                    <div class="service-1">
                        <a href="#" class="service-1__url hover-scale" onclick="return false;">
                            <img src="{% static 'img/about/Interior design.jpg' %}" class="service-1__img" alt="">
                        </a>
                        <div class="service-1__info">
                            <h3 class="service-1__title">{% trans 'Interior design' %}</h3>
                            <ul class="service-1__features">
                                <li class="service-1__feature">
                                    <i class="ui-check service-1__feature-icon"></i>
                                    <span class="service-1__feature-text">{% trans 'Modern Design' %}</span>
                                </li>
                                <li class="service-1__feature">
                                    <i class="ui-check service-1__feature-icon"></i>
                                    <span class="service-1__feature-text">{% trans 'Unique Foundation' %}</span>
                                </li>
                                <li class="service-1__feature">
                                    <i class="ui-check service-1__feature-icon"></i>
                                    <span class="service-1__feature-text">{% trans 'Smart Heading System' %}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="service-1">
                        <a href="#" class="service-1__url hover-scale" onclick="return false;">
                            <img src="{% static 'img/about/_mg_8991.jpg' %}" class="service-1__img" alt="">
                        </a>
                        <div class="service-1__info">
                            <h3 class="service-1__title">{% trans 'Exterior design' %}</h3>
                            <ul class="service-1__features">
                                <li class="service-1__feature">
                                    <i class="ui-check service-1__feature-icon"></i>
                                    <span class="service-1__feature-text">{% trans 'Modern Design' %}</span>
                                </li>
                                <li class="service-1__feature">
                                    <i class="ui-check service-1__feature-icon"></i>
                                    <span class="service-1__feature-text">{% trans 'Unique Foundation' %}</span>
                                </li>
                                <li class="service-1__feature">
                                    <i class="ui-check service-1__feature-icon"></i>
                                    <span class="service-1__feature-text">{% trans 'Smart Heading System' %}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-6">
                    <div class="service-1">
                        <a href="#" class="service-1__url hover-scale" onclick="return false;">
                            <img src="{% static 'img/about/Interior design.jpg' %}" class="service-1__img" alt="">
                        </a>
                        <div class="service-1__info">
                            <h3 class="service-1__title">{% trans 'Industrial premises' %}</h3>
                            <ul class="service-1__features">
                                <li class="service-1__feature">
                                    <i class="ui-check service-1__feature-icon"></i>
                                    <span class="service-1__feature-text">{% trans 'Modern Design' %}</span>
                                </li>
                                <li class="service-1__feature">
                                    <i class="ui-check service-1__feature-icon"></i>
                                    <span class="service-1__feature-text">{% trans 'Unique Foundation' %}</span>
                                </li>
                                <li class="service-1__feature">
                                    <i class="ui-check service-1__feature-icon"></i>
                                    <span class="service-1__feature-text">{% trans 'Smart Heading System' %}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end services -->

    <!-- Testimonials -->
    <section class="section-wrap bg-dark-overlay"
             style="background-image: url({% static 'img/testimonials/bg.jpg' %})">
        <div class="container">
            <div class="title-row text-center">
                <h3 class="section-title">Awards and honors</h3>
                <i class="quote">“</i>
            </div>

            <div class="slick-slider slick-testimonials">

                <div class="testimonial clearfix">
                    <div class="testimonial__body">
                        <p class="testimonial__text">“I have witnessed and admired the work for years. I highly
                            recommend this work for anyone seeking to increase.”</p>
                    </div>
                    <div class="testimonial__info">
                        <span class="testimonial__author">Joeby Ragpa</span>
                        <span class="testimonial__company">DeoThemes</span>
                    </div>
                </div>

                <div class="testimonial clearfix">
                    <div class="testimonial__body">
                        <p class="testimonial__text">“Every detail has been taken care these team are realy amazing
                            and talented! I will work only to help your sales goals.”</p>
                    </div>
                    <div class="testimonial__info">
                        <span class="testimonial__author">Joeby Ragpa</span>
                        <span class="testimonial__company">DeoThemes</span>
                    </div>
                </div>

                <div class="testimonial clearfix">
                    <div class="testimonial__body">
                        <p class="testimonial__text">“I have witnessed and admired the work for years. I highly
                            recommend this work for anyone seeking to increase.”</p>
                    </div>
                    <div class="testimonial__info">
                        <span class="testimonial__author">Joeby Ragpa</span>
                        <span class="testimonial__company">DeoThemes</span>
                    </div>
                </div>

                <div class="testimonial clearfix">
                    <div class="testimonial__body">
                        <p class="testimonial__text">“Every detail has been taken care these team are realy amazing
                            and talented! I will work only to help your sales goals.”</p>
                    </div>
                    <div class="testimonial__info">
                        <span class="testimonial__author">Joeby Ragpa</span>
                        <span class="testimonial__company">DeoThemes</span>
                    </div>
                </div>
            </div>
            <!-- end slider -->
        </div>
    </section>
    <!-- end testimonials -->

    <!-- Portfolio -->
    <section class="section-wrap" style="text-align: right">
        <h3 style="margin-bottom: 5%; margin-right: 15%" class="text-right">{% trans 'Discover Recent Works' %}</h3>
        <div class="container">
            <div class="projects">
                {% for project in  all_projects %}
                    {% if project.id == 8 %}
                        <div class="project-1">
                            <div class="project-1__container">
                                <div class="project__img-holder hover-scale">
                                    {% if project.image_cover %}
                                        <img src="{{ project.image_cover.url }}" alt="{{ project.title }} cover image">
                                    {% else %}
                                        <img src="{% static 'img/under-construction.jpg' %}"
                                             alt="{{ project.title }} cover image">
                                    {% endif %}
                                </div>
                            </div>

                            <div class="project-1__description-holder">
                                <div class="project-1__description" style="width: 45%; float: right; text-align: right;
                                                                   direction: rtl ; border-left: solid white 1px; margin: 0 auto;">
                                    <h3 class="project-1__title">{% trans 'Project' %}</h3>
                                    <h3 style="margin-right: 6%"
                                        class="project-1__title">{{ project.title|translate_number }}</h3>
                                </div>
                                <p style="font-size: x-large; color: white; font-family: 'Times New Roman',serif;
                                  text-align: center; float: left; margin-top: 10%;">
                                    AMER<br>Engineering Group
                                </p>
                                <div style="text-align: center;">
                                    <a href="{% url 'project:project_detail' project.id %}"
                                       class="btn btn--md btn--light">
                                        <span>{% trans 'More' %}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end project -->
                    {% elif project.id == 10 %}
                        <div class="project-1">
                            <div class="project-1__container">
                                <div class="project__img-holder hover-scale">
                                    {% if project.image_cover %}
                                        <img src="{{ project.image_cover.url }}" alt="{{ project.title }} cover image">
                                    {% else %}
                                        <img src="{% static 'img/under-construction.jpg' %}"
                                             alt="{{ project.title }} cover image">
                                    {% endif %}
                                </div>
                            </div>

                            <div class="project-1__description-holder">
                                <div class="project-1__description" style="width: 45%; float: right; text-align: right;
                                                                   direction: rtl ; border-left: solid white 1px; margin: 0 auto;">
                                    <h3 class="project-1__title">{% trans 'Project' %}</h3>
                                    <h3 style="margin-right: 6%" class="project-1__title">{{ project.title }}</h3>
                                </div>
                                <p style="font-size: x-large; color: white; font-family: 'Times New Roman',serif;
                                  text-align: center; float: left; margin-top: 10%;">
                                    AMER<br>Engineering Group
                                </p>
                                <div style="text-align: center;">
                                    <a href="{% url 'project:project_detail' project.id %}"
                                       class="btn btn--md btn--light">
                                        <span>{% trans 'More' %}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end project -->
                    {% elif project.id == 9 %}
                        <div class="project-1">
                            <div class="project-1__container">
                                <div class="project__img-holder hover-scale">
                                    {% if project.image_cover %}
                                        <img src="{{ project.image_cover.url }}" alt="{{ project.title }} cover image">
                                    {% else %}
                                        <img src="{% static 'img/under-construction.jpg' %}"
                                             alt="{{ project.title }} cover image">
                                    {% endif %}
                                </div>
                            </div>

                            <div class="project-1__description-holder">
                                <div class="project-1__description" style="width: 45%; float: right; text-align: right;
                                                                   direction: rtl ; border-left: solid white 1px; margin: 0 auto;">
                                    <h3 class="project-1__title">{% trans 'Project' %}</h3>
                                    <h3 style="margin-right: 6%" class="project-1__title">{{ project.title }}</h3>
                                </div>
                                <p style="font-size: x-large; color: white; font-family: 'Times New Roman',serif;
                                  text-align: center; float: left; margin-top: 10%;">
                                    AMER<br>Engineering Group
                                </p>
                                <div style="text-align: center;">
                                    <a href="{% url 'project:project_detail' project.id %}"
                                       class="btn btn--md btn--light">
                                        <span>{% trans 'More' %}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end project -->
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- end portfolio -->

{% endblock content %}



{#    <!-- From Blog -->#}
{#    <section class="section-wrap blog-grid" style="direction: rtl; text-align: right">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-4">#}
{#                    <div class="blog-grid__title-col d-flex flex-column mb-lg-48">#}
{#                        <div class="title-row">#}
{#                            <h2 class="section-title">{% trans 'Quick access to top blog articles' %}</h2>#}
{#                            <p>{% trans 'With unique quality, we build a house beyond your expectations. Your satisfaction is our honor!' %}</p>#}
{#                        </div>#}
{#                        <div class="call-us mt-auto">#}
{#                            <i class="icon-Dispacher-2 call-us__icon"></i>#}
{#                            <span class="call-us__title">{% trans 'Contact us' %}</span>#}
{#                            <a href="tel:1-800-995-3959" class="call-us__phone-number"> 1-800-995-3959</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-7 offset-lg-1">#}
{#                    <div class="from-blog">#}
{#                        <div class="row row-60">#}
{#                            {% for item in blog %}#}
{#                                <div class="col-lg-6">#}
{#                                    <article class="entry">#}
{#                                        <div class="entry__img-holder">#}
{#                                            <a href="{% url 'blog_detail' item.pk %}">#}
{#                                                <img src="{{ item.image.url }}" class="entry__img" alt="">#}
{#                                            </a>#}
{#                                        </div>#}
{#                                        <div class="entry__body">#}
{#                                            <ul class="entry__meta">#}
{#                                                <li class="entry__meta-date">#}
{#                                                    <span>{{ item.datetime_created }}</span>#}
{#                                                </li>#}
{#                                            </ul>#}
{#                                            <h4 class="entry__title">#}
{#                                                <a href="{% url 'blog_detail' item.pk %}">{{ item.title }}</a>#}
{#                                            </h4>#}
{#                                        </div>#}
{#                                    </article>#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <!-- end from blog -->#}


